@media screen and (max-width: 480px) {
body,html{
    width:100%;
    height:97%;
    margin:0;
    padding:0;
    background:url(./Browsing/Snapshots/Browsing.jpg);
    background-size:cover;
    z-index: 0;

  }
  #im{
    position:relative;
    margin:0 auto;
    width:100%;
    max-width:600px;
    height:100%;
    box-sizing:border-box;
    background:rgba(0,0,0,.4);
    z-index: 0;
  }
  
  #input{
    position:absolute;
    z-index:2;
    height:90px;
    width:100%;
    left:0;
    bottom:0;
    margin:0;
    padding:12px;
    box-sizing:border-box;
    background:#222;
    color:#fff;
  }
  
  #input input, #input span{
    display:inline-block;
    margin:5px 0;
  }
  
  #input input{
    width:75%;
    border:none;
    padding:3px;
  }
  
  #input span{
    width:10%;
    min-width:50px;
  }
  
  #input div{
    width:80%;
    float:left;
  }
  
  #input button{
    float:right;
    height:90%;
    width:20%;
    margin:5px 0;
    border:none;
    padding:0;
    background:#369;
    font-size:16px;
    color:#fff;
  }
  
  #show{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:calc(100% - 90px);
    overflow-y:scroll;
    padding:20px;
    box-sizing:border-box;
  }
  
  #show>div{
    position:relative;
    margin:0 0 20px 0;
    clear:both;
    height:40px;
  }
  
  #show>div>div{
    display:inline-block;
  }
  
  #show .time{
    position:absolute;
    top:-2px;
    font-size:10px;
    color:#777;
  }
  
  #show .name{
    color:#fff;
    vertical-align:middle;
    font-size:10px;
  }
  
  #show .content{
    background:rgba(255,255,255,.8);
    padding:10px;
    margin-top:15px;
    margin-left:10px;
    border-radius:5px;
    vertical-align:middle;
    font-size:10px;
  }
  
  #show::-webkit-scrollbar {
    width:5px;
  }
  #show::-webkit-scrollbar-track {
    background:rgba(255,255,255,.1);
    border-radius: 5px;
  }
  #show::-webkit-scrollbar-thumb {
    background:rgba(255,255,255,.2);
    border-radius: 2px;
  }
 
}

@media screen and (max-width: 768px) {
  body,html{
      width:100%;
      height:97%;
      margin:0;
      padding:0;
      background:url(./Browsing/Snapshots/Browsing.jpg);
      background-size:cover;
      z-index: 0;
    }
    #im{
      position:relative;
      margin:0 auto;
      width:100%;
      max-width:600px;
      height:100%;
      box-sizing:border-box;
      background:rgba(0,0,0,.4);
      z-index: 0;
    }
    
    #input{
      position:absolute;
      z-index:2;
      height:90px;
      width:100%;
      left:0;
      bottom:0;
      margin:0;
      padding:10px;
      box-sizing:border-box;
      background:#222;
      color:#fff;
    }
    
    #input input, #input span{
      display:inline-block;
      margin:5px 0;
    }
    
    #input input{
      width:75%;
      border:none;
      padding:3px;
    }
    
    #input span{
      width:10%;
      min-width:50px;
    }
    
    #input div{
      width:80%;
      float:left;
    }
    
    #input button{
      float:right;
      height:90%;
      width:20%;
      margin:5px 0;
      border:none;
      padding:0;
      background:#369;
      font-size:16px;
      color:#fff;
    }
    
    #show{
      position:absolute;
      top:0;
      left:0;
      z-index:1;
      width:100%;
      height:calc(100% - 90px);
      overflow-y:scroll;
      padding:20px;
      box-sizing:border-box;
    }
    
    #show>div{
      position:relative;
      margin:0 0 20px 0;
      clear:both;
      height:40px;
    }
    
    #show>div>div{
      display:inline-block;
    }
    
    #show .time{
      position:absolute;
      top:-2px;
      font-size:10px;
      color:#777;
    }
    
    #show .name{
      color:#fff;
      vertical-align:middle;
      font-size:14px;
    }
    
    #show .content{
      background:rgba(255,255,255,.8);
      padding:10px;
      margin-top:15px;
      margin-left:10px;
      border-radius:5px;
      vertical-align:middle;
      font-size:14px;
    }
    
    #show::-webkit-scrollbar {
      width:5px;
    }
    #show::-webkit-scrollbar-track {
      background:rgba(255,255,255,.1);
      border-radius: 5px;
    }
    #show::-webkit-scrollbar-thumb {
      background:rgba(255,255,255,.2);
      border-radius: 2px;
    }
   
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1200px){
    body,html{
        width:100%;
        height:97%;
        margin:0;
        padding:0;
        background:url(./Browsing/Snapshots/Browsing.jpg);
        background-size:cover;
        z-index: 0;
      }
      #im{
        position:relative;
        margin:0 auto;
        width:100%;
        max-width:600px;
        height:100%;
        box-sizing:border-box;
        background:rgba(0,0,0,.4);
        z-index: 0;
      }
      
      #input{
        position:absolute;
        z-index:2;
        height:90px;
        width:100%;
        left:0;
        bottom:0;
        margin:0;
        padding:8px;
        box-sizing:border-box;
        background:#222;
        color:#fff;
      }
      
      #input input, #input span{
        display:inline-block;
        margin:5px 0;
      }
      
      #input input{
        width:75%;
        border:none;
        padding:3px;
      }
      
      #input span{
        width:10%;
        min-width:50px;
      }
      
      #input div{
        width:80%;
        float:left;
      }
      
      #input button{
        float:right;
        height:90%;
        width:20%;
        margin:5px 0;
        border:none;
        padding:0;
        background:#369;
        font-size:16px;
        color:#fff;
      }
      
      #show{
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        width:100%;
        height:calc(100% - 90px);
        overflow-y:scroll;
        padding:20px;
        box-sizing:border-box;
      }
      
      #show>div{
        position:relative;
        margin:0 0 20px 0;
        clear:both;
        height:40px;
      }
      
      #show>div>div{
        display:inline-block;
      }
      
      #show .time{
        position:absolute;
        top:-2px;
        font-size:10px;
        color:#777;
      }
      
      #show .name{
        color:#fff;
        vertical-align:middle;
        font-size:15px;
      }
      
      #show .content{
        background:rgba(255,255,255,.8);
        padding:10px;
        margin-top:15px;
        margin-left:10px;
        border-radius:5px;
        vertical-align:middle;
        font-size:15px;
      }
      
      #show::-webkit-scrollbar {
        width:5px;
      }
      #show::-webkit-scrollbar-track {
        background:rgba(255,255,255,.1);
        border-radius: 5px;
      }
      #show::-webkit-scrollbar-thumb {
        background:rgba(255,255,255,.2);
        border-radius: 2px;
      }
     
    }
    
    
    @media screen and (min-width: 1200px)  {
      body,html{
          width:100%;
          height:97%;
          margin:0;
          padding:0;
          background:url(./Browsing/Snapshots/Browsing.jpg);

          background-size:cover;

        }
        #im{
          position:relative;
          margin:0 auto;
          width:100%;
          max-width:600px;
          height:100%;
          box-sizing:border-box;
          background:rgba(0,0,0,.4);

        }
        
        #input{
          position:absolute;
          z-index:2;
          height:90px;
          width:100%;
          left:0;
          bottom:0;
          margin:0;
          padding:8px;
          box-sizing:border-box;
          background:#222;
          color:#fff;
        }
        
        #input input, #input span{
          display:inline-block;
          margin:5px 0;
        }
        
        #input input{
          width:75%;
          border:none;
          padding:3px;
        }
        
        #input span{
          width:10%;
          min-width:50px;
        }
        
        #input div{
          width:80%;
          float:left;
        }
        
        #input button{
          float:right;
          height:90%;
          width:20%;
          margin:5px 0;
          border:none;
          padding:0;
          background:#369;
          font-size:16px;
          color:#fff;
        }
        
        #show{
          position:absolute;
          top:0;
          left:0;
          z-index:1;
          width:100%;
          height:calc(100% - 90px);
          overflow-y:scroll;
          padding:20px;
          box-sizing:border-box;
        }
        
        #show>div{
          position:relative;
          margin:0 0 20px 0;
          clear:both;
          height:40px;
        }
        
        #show>div>div{
          display:inline-block;
        }
        
        #show .time{
          position:absolute;
          top:-2px;
          font-size:10px;
          color:#777;
        }
        
        #show .name{
          color:#fff;
          vertical-align:middle;
          font-size:16px;
        }
        
        #show .content{
          background:rgba(255,255,255,.8);
          padding:10px;
          margin-top:15px;
          margin-left:10px;
          border-radius:5px;
          vertical-align:middle;
          font-size:16px;
        }
        
        #show::-webkit-scrollbar {
          width:5px;
        }
        #show::-webkit-scrollbar-track {
          background:rgba(255,255,255,.1);
          border-radius: 5px;
        }
        #show::-webkit-scrollbar-thumb {
          background:rgba(255,255,255,.2);
          border-radius: 2px;
        }
       
      }
      

   



     



