.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.overlay {
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    position: relative;
    top: 55%;
    bottom: 0%;
    left: 50%;
    width: 100%;
    max-width: 45em;
    box-sizing: border-box;
    padding: 2em;
    line-height: 1.5;
    text-align: center;
    transform: translateX(-50%);

  }

    h1 {
      font-size: 14pt;
      font-weight: normal;
      text-shadow: 0 0 .3em #000;
      margin: 1em 0;
      color: #fff;
    }
    p {
      font-size: 11pt;
      text-shadow: 0 0 .3em #000;
      margin: 1em 0;
      color: #fff;
    }
    a {
      color: #fff;
    }

    .container {
  
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background: #000;
    }
        
        video {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        
        .overlay {
          color: #fff;
          font-family: 'Oxygen', sans-serif;
          position: absolute;
          bottom: 0%;
          left: 50%;
          width: 100%;
          max-width: 45em;
          box-sizing: border-box;
          padding: 2em;
          line-height: 1.5;
          text-align: center;
          transform: translateX(-50%);
        }
          h1 {
            font-size: 14pt;
            font-weight: normal;
            text-shadow: 0 0 .3em #000;
            margin: 1em 0;
            color: #fff;
          }
          p {
            font-size: 11pt;
            text-shadow: 0 0 .3em #000;
            margin: 1em 0;
            color: #fff;
          }
          a {
            color: #fff;
          }
        
        
          button { 
          
         -moz-box-shadow:inset 0px 1px 0px 0px #ffffff; 
         -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff; 
         box-shadow:inset 0px 1px 0px 0px #ffffff; 
         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf)); 
         background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%); 
         background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%); 
         background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%); 
         background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%); 
         background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); 
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0); 
         background-color:#554e8a; 
         -moz-border-radius:6px; 
         -webkit-border-radius:6px; 
         border-radius:6px; 
         border:1px solid #dcdcdc; 
         display:inline-block; 
         cursor:pointer; 
         color:#666666; 
         font-family:Arial; 
         font-size:15px; 
         font-weight:bold; 
         padding:4px 14px; 
         text-decoration:none; 
         text-shadow:0px 1px 0px #ffffff; 
        } 
        button:hover { 

         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed)); 
         background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%); 
         background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%); 
         background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%); 
         background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%); 
         background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%); 
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0); 
         background-color:#554e8a; 
        } 

        
